.cx-btn__primary,
.cx-btn__secondary,
.cx-btn__tertiary,
.cx-btn__danger {
  --highlight-color: var(--cx-color-background-accent-5);
  --highlight-background: var(--cx-color-background-accent-1);
  position: relative;
  display: inline-flex;
  gap: var(--cx-spacing-1);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  padding: var(--cx-spacing-4) var(--cx-spacing-6);
  min-width: 6rem;
  border-radius: var(--cx-radius-pill);
  transition: scale 20ms ease, background-color 300ms ease, color 300ms ease, box-shadow 300ms ease;

  &:active {
    scale: 0.99;
  }

  &:hover,
  &:focus-visible {
    box-shadow: none;
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      ellipse at center,
      var(--highlight-color),
      var(--highlight-background) 45%,
      var(--highlight-background)
    );

    border-radius: inherit;
    background-size: 500% 500%;
    background-position: 70% 30%;
    animation: cx-btn-highlight-rotate 20s linear infinite;
    z-index: -1;
  }
}

:is(.cx-btn__primary, .cx-btn__secondary, .cx-btn__tertiary):is(:hover, :focus-visible) {
  color: var(--cx-color-text-inverted);
}

.cx-btn__primary {
  color: var(--cx-color-text-inverted);
  background-color: var(--cx-color-background-accent-1);
}

.cx-btn__secondary {
  color: var(--cx-color-text-primary);
  background-color: var(--cx-color-background-primary);
  box-shadow: inset 0 0 0 1px var(--cx-color-border-primary);
}

.cx-btn__tertiary {
  color: var(--cx-color-text-primary);
  background-color: var(--cx-color-background-primary);
  box-shadow: 0 0 0 1px var(--cx-color-background-primary);
}

.cx-btn__danger {
  --highlight-color: var(--cx-color-background-accent-1);
  --highlight-background: var(--cx-color-signal-danger);

  color: var(--cx-color-text-primary);
  background-color: var(--cx-color-signal-danger);
}

.cx-btn__sm {
  padding: var(--cx-spacing-3) var(--cx-spacing-4);
  font-size: 0.75rem;
  min-width: 5rem;
}

.cx-btn__lg {
  padding: var(--cx-spacing-5) var(--cx-spacing-8);
  font-size: 1.125rem;
}

.cx-btn__icon {
  --icon-size: var(--cx-spacing-6);
  padding: var(--cx-spacing-3);
  min-width: unset;

  > * {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.cx-btn__icon.cx-btn__sm {
  --icon-size: var(--cx-spacing-4);
  padding: var(--cx-spacing-3);
}

.cx-btn__icon.cx-btn__lg {
  --icon-size: var(--cx-spacing-8);
  padding: var(--cx-spacing-4);
}

@keyframes cx-btn-highlight-rotate {
  0%,
  100% {
    background-position: 70% 30%;
  }

  10% {
    background-position: 50% 20%;
  }

  20% {
    background-position: 30% 30%;
  }

  30% {
    background-position: 20% 50%;
  }

  40% {
    background-position: 30% 60%;
  }

  50% {
    background-position: 35% 70%;
  }

  60% {
    background-position: 50% 75%;
  }

  70% {
    background-position: 60% 85%;
  }

  80% {
    background-position: 70% 70%;
  }

  90% {
    background-position: 80% 50%;
  }
}
