.cx-btn__primary,
.cx-btn__secondary,
.cx-btn__tertiary,
.cx-btn__danger {
  --highlight-color: var(--cx-color-background-accent-5);
  --highlight-background: var(--cx-color-background-accent-1);
  --highlight-size: 500%;

  position: relative;
  display: inline-flex;
  gap: var(--cx-spacing-1);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  padding: var(--cx-spacing-4) var(--cx-spacing-6);
  min-width: 6rem;
  border-radius: var(--cx-radius-pill);
  transition: scale 20ms ease, background-color 300ms ease, color 300ms ease, box-shadow 300ms ease;

  &:active {
    scale: 0.99;
  }

  &:hover,
  &:focus-visible {
    box-shadow: none;
    background-color: transparent;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      ellipse at center,
      var(--highlight-color),
      var(--highlight-background) 50%,
      var(--highlight-background)
    );

    border-radius: inherit;
    background-size: var(--highlight-size) var(--highlight-size);
    background-position: 70% 30%;
    animation: cx-btn-highlight-rotate 6s linear infinite;
    transition: opacity 300ms ease;
    z-index: -1;
  }
}

:is(.cx-btn__secondary, .cx-btn__tertiary):is(:hover, :focus-visible) {
  color: var(--cx-color-text-inverted);
}

.cx-btn__primary {
  color: var(--cx-color-text-inverted);
  background-color: var(--cx-color-background-accent-1);
}

.cx-btn__secondary {
  color: var(--cx-color-text-primary);
  background-color: var(--cx-color-background-primary);
  box-shadow: inset 0 0 0 1px var(--cx-color-border-primary);
}

.cx-btn__tertiary {
  color: var(--cx-color-text-primary);

  &::before {
    opacity: 0;
  }
}

.cx-btn__danger {
  --highlight-color: var(--cx-color-background-accent-1);
  --highlight-background: var(--cx-color-signal-danger);
  --highlight-size: 700%;

  color: var(--cx-color-text-primary);
  background-color: var(--cx-color-signal-danger);
}

.cx-btn__sm {
  padding: var(--cx-spacing-3) var(--cx-spacing-4);
  font-size: 0.75rem;
  min-width: 5rem;
}

.cx-btn__lg {
  padding: var(--cx-spacing-5) var(--cx-spacing-8);
  font-size: 1.125rem;
}

.cx-btn__icon {
  --icon-size: var(--cx-spacing-6);
  padding: var(--cx-spacing-3);
  min-width: unset;

  > * {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.cx-btn__icon.cx-btn__sm {
  --icon-size: var(--cx-spacing-4);
  padding: var(--cx-spacing-3);
}

.cx-btn__icon.cx-btn__lg {
  --icon-size: var(--cx-spacing-8);
  padding: var(--cx-spacing-4);
}

@keyframes cx-btn-highlight-rotate {
  0%,
  100% {
    background-position: 70% 30%;
  }

  5% {
    background-position: 62% 24%;
  }

  10% {
    background-position: 54% 22%;
  }

  15% {
    background-position: 46% 22%;
  }

  20% {
    background-position: 38% 24%;
  }

  25% {
    background-position: 30% 30%;
  }

  30% {
    background-position: 24% 38%;
  }

  35% {
    background-position: 22% 46%;
  }

  40% {
    background-position: 22% 54%;
  }

  45% {
    background-position: 24% 62%;
  }

  50% {
    background-position: 30% 70%;
  }

  55% {
    background-position: 38% 76%;
  }

  60% {
    background-position: 46% 78%;
  }

  65% {
    background-position: 54% 78%;
  }

  70% {
    background-position: 62% 76%;
  }

  75% {
    background-position: 70% 70%;
  }

  80% {
    background-position: 76% 62%;
  }

  85% {
    background-position: 78% 54%;
  }

  90% {
    background-position: 78% 46%;
  }

  95% {
    background-position: 76% 38%;
  }
}
