.cx-tab-link {
  --underline-height: 6px;
  display: inline-flex;
  position: relative;
  padding: 7px 0px calc(var(--cx-spacing-1) + var(--underline-height));

  color: var(--cx-color-text-primary);
  line-height: 1rem;

  text-decoration: 20% wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 20%;
  text-underline-position: from-font;
  text-decoration-color: transparent;
  transition: text-decoration-color 100ms ease, text-underline-offset 100ms ease;

  &:hover:not(.cx-tab-link--active) {
    text-underline-offset: 30%;
    text-decoration-color: var(--cx-color-text-primary);
  }

  &:active {
    text-underline-offset: 60%;
  }
}

.cx-tab-link::before {
  content: "";
  position: absolute;
  inset: auto 0 0;
  transition: background-color 0.3s ease;
  height: var(--underline-height);
  background: transparent;
  border-radius: var(--cx-radius-mini) var(--cx-radius-mini) 0px 0px;
}

.cx-tab-link--active::before {
  background-color: var(--cx-color-background-accent-5);
}

.cx-tab-link ~ .cx-tab-link {
  margin-left: var(--cx-spacing-4);
}
