*:focus-visible {
  outline: 2px auto var(--c-color-secondary);
  outline-offset: 2px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
