@layer computas-base-color-tokens {
  :root {
    --cx-color-blue-100: #eafbff;
    --cx-color-blue-900: #004c75;
    --cx-color-blue: #29cff5;

    --cx-color-dark-blue-100: #ecf7ff;
    --cx-color-dark-blue-900: #192e4c;
    --cx-color-dark-blue: #003459;

    --cx-color-green-100: #defdf6;
    --cx-color-green-900: #103b31;
    --cx-color-green: #49bca1;

    --cx-color-grey-100: #f7f7f8;
    --cx-color-grey-200: #e0ebf3;
    --cx-color-grey-300: #93b5cd;
    --cx-color-grey-400: #6b95b3;
    --cx-color-grey-500: #477494;
    --cx-color-grey-600: #255374;
    --cx-color-grey-700: #003459;
    --cx-color-grey-800: #062338;
    --cx-color-grey-900: #04111a;
    --cx-color-grey-900-o-60: color-mix(in oklch, var(--cx-color-grey-900), transparent 64%);

    --cx-color-purple-100: #f8eefe;
    --cx-color-purple-900: #392248;
    --cx-color-purple: #d28cff;

    --cx-color-red-100: #ffeeef;
    --cx-color-red-900: #3d191a;
    --cx-color-red: #ff5f63;

    --cx-color-white: #ffffff;

    --cx-color-yellow-100: #fff5d2;
    --cx-color-yellow-900: #403300;
    --cx-color-yellow: #fed546;
  }
}
