/* Margin bottom */
.cx-mb-xs {
  margin-bottom: var(--cx-spacing-05) !important;
}

.cx-mb-sm {
  margin-bottom: var(--cx-spacing-1) !important;
}

.cx-mb-md {
  margin-bottom: var(--cx-spacing-2) !important;
}

.cx-mb-lg {
  margin-bottom: var(--cx-spacing-3) !important;
}

.cx-mb-xl {
  margin-bottom: var(--cx-spacing-4) !important;
}

.cx-mb-xxl {
  margin-bottom: var(--cx-spacing-5) !important;
}

.cx-mb-xxxl {
  margin-bottom: var(--cx-spacing-6) !important;
}

/* Margin top */
.cx-mt-xs {
  margin-top: var(--cx-spacing-05) !important;
}

.cx-mt-sm {
  margin-top: var(--cx-spacing-1) !important;
}

.cx-mt-md {
  margin-top: var(--cx-spacing-2) !important;
}

.cx-mt-lg {
  margin-top: var(--cx-spacing-3) !important;
}

.cx-mt-xl {
  margin-top: var(--cx-spacing-4) !important;
}

.cx-mt-xxl {
  margin-top: var(--cx-spacing-5) !important;
}

.cx-mt-xxxl {
  margin-top: var(--cx-spacing-6) !important;
}

/* Gap */
.cx-gap-xs {
  gap: var(--cx-spacing-05) !important;
}

.cx-gap-sm {
  gap: var(--cx-spacing-1) !important;
}

.cx-gap-md {
  gap: var(--cx-spacing-2) !important;
}

.cx-gap-lg {
  gap: var(--cx-spacing-3) !important;
}

.cx-gap-xl {
  gap: var(--cx-spacing-4) !important;
}

.cx-gap-xxl {
  gap: var(--cx-spacing-5) !important;
}

.cx-gap-xxxl {
  gap: var(--cx-spacing-6) !important;
}
