/* Margin bottom */
.c-mb-xs {
  margin-bottom: var(--c-spacing-05) !important;
}

.c-mb-sm {
  margin-bottom: var(--c-spacing-1) !important;
}

.c-mb-md {
  margin-bottom: var(--c-spacing-2) !important;
}

.c-mb-lg {
  margin-bottom: var(--c-spacing-3) !important;
}

.c-mb-xl {
  margin-bottom: var(--c-spacing-4) !important;
}

.c-mb-xxl {
  margin-bottom: var(--c-spacing-5) !important;
}

.c-mb-xxxl {
  margin-bottom: var(--c-spacing-6) !important;
}

/* Margin top */
.c-mt-xs {
  margin-top: var(--c-spacing-05) !important;
}

.c-mt-sm {
  margin-top: var(--c-spacing-1) !important;
}

.c-mt-md {
  margin-top: var(--c-spacing-2) !important;
}

.c-mt-lg {
  margin-top: var(--c-spacing-3) !important;
}

.c-mt-xl {
  margin-top: var(--c-spacing-4) !important;
}

.c-mt-xxl {
  margin-top: var(--c-spacing-5) !important;
}

.c-mt-xxxl {
  margin-top: var(--c-spacing-6) !important;
}

/* Gap */
.c-gap-xs {
  gap: var(--c-spacing-05) !important;
}

.c-gap-sm {
  gap: var(--c-spacing-1) !important;
}

.c-gap-md {
  gap: var(--c-spacing-2) !important;
}

.c-gap-lg {
  gap: var(--c-spacing-3) !important;
}

.c-gap-xl {
  gap: var(--c-spacing-4) !important;
}

.c-gap-xxl {
  gap: var(--c-spacing-5) !important;
}

.c-gap-xxxl {
  gap: var(--c-spacing-6) !important;
}
